@media (prefers-color-scheme: light)
{
    :root
    {
    	--text-color: #000;
		--bg-color-secondary: #ddd;
        --bg-color-primary: #fff;
    }
}

@media (prefers-color-scheme: dark)
{
    :root
    {
    	--text-color: #f0f0f0;
		--link-color: #2186d9;
		--bg-color-secondary: #1d2224;
        --bg-color-primary: #050709;
    }
    
	a { color: var(--link-color); }
}

body
{
	width: 55%;
	margin: 0 auto;
	font-family: Courier New, courier;
	font-size: 1em;
	background: var(--bg-color-primary);
	color: var(--text-color);	
}

pre { font-size: 1.1em; }

h1,h2 { font-size: 1.1em; }
h3,h4 { font-size: 1em; }

h1
{
	text-align: left;
	padding: 0 10px;
	background: var(--bg-color-secondary);
}

h1#footer { font-weight: normal; }

p { margin: auto; word-break: break-word; }

header ul { list-style: none; padding: 0; padding-right: 3px; }
header ul li { display: inline; }

.float-right { float: right; }						
.float-left { float: left; }

.columns
{
	display: flex;
	width: 100%;
}

.flex-25 { flex: 0.25; }
.flex-75 { flex: 0.75; }

@media only screen and (max-width: 768px)
{
	body { width: 85%; }
	.columns { display: block; }
}
