<!DOCTYPE html>
<html class="dark">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ site.style }}" />
	<title>{{ page.title | safe }}</title>
</head>
<body>
	<br>
	<header>{% block header %}
	{% include "parts/header.html" %}
	{% endblock %}</header>
	<div id="content">{% block content %}	
	{% if page.title %}
	<h2>{{ page.title | safe }}</h2>
	{% endif%}
	{{ page.content | markdown | safe }}
	{% endblock %}</div>
	<footer>{% block footer %}
	{% include "parts/footer.html" %}
	{% endblock %}</footer>
	<br>
</body>
<script>
function getColorScheme()
{
  if (localStorage.getItem('theme')) return localStorage.getItem('theme');
  var matchMedia = window.matchMedia('(prefers-color-scheme: dark)').matches
  return (matchMedia) ? 'dark' : 'light';
}
function setColorScheme(theme)
{
  document.documentElement.className = theme;
  localStorage.setItem('theme', document.documentElement.className);
}
function toggleColorScheme()
{ setColorScheme(getColorScheme()==='dark' ? 'light' : 'dark'); }
setColorScheme(getColorScheme());
</script>
</html>
