<!DOCTYPE html>
<html class="dark">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ site.style }}" />
		<meta charset="utf-8" />
	</head>
	<body>
	<header>	
<pre>
      |\__/ | (`\
    _.|o o  |_ ) )
---(((---(((--------
GRENOBLE HACKERSPACE
</pre>
		<p>
			<a href="#" onclick="toggleColorScheme();" class="right">[#]</a>
			{% for item in site.menu %}
				<a href="{{ item.url }}" class="{{ item.class | default('') }}">[{{item.name}}]</a>
			{% endfor %}		
		</p>
</header>
<div id="content">
<strong>{{ page.url }}</strong>
{% block content %}{{ page.content | markdown }}{% endblock %}
<footer>
	<p>Licensed CC BY-NC-SA 4.0 <a href="mailto:{{ site.email }}">{{ site.email }}</a> build {{ now() }}</p>
	<center class="bg-gray">-- EOF --</center>
</footer><br>
<script>
function getColorScheme()
{
  if (localStorage.getItem('theme')) return localStorage.getItem('theme');
  var matchMedia = window.matchMedia('(prefers-color-scheme: dark)').matches
  return (matchMedia) ? 'dark' : 'light';
}
function setColorScheme(theme)
{
  document.documentElement.className = theme;
  localStorage.setItem('theme', document.documentElement.className);
}
function toggleColorScheme()
{ setColorScheme(getColorScheme()==='dark' ? 'light' : 'dark'); }
setColorScheme(getColorScheme());
</script>
</body>
</html>
