{% set blog_posts = pages["blog"] | sort(attribute='last_update', reverse=True) %}

{% extends 'base.html' %}
{% block content %}
<h4 class="bg-2">ACTUALITÉ</h4>
<ul>
{% for item in blog_posts[:3] %}
<li>{{ item.last_update }}&nbsp;<a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{{ page.content | markdown | safe | trim }}
<pre>			

        |\___/|
        )     (             .              '
       =\     /=
         )===(       *
        /     \
       /       \
       \       /
_/\_/\_/\__  _/_/\_/\_/\_/\_/\_/\_/\_/\_/\_
|  |  |  |( (  |  |  |  |  |  |  |  |  |  |
|  |  |  | )_) |  |  |  |  |  |  |  |  |  |
</pre>

{% endblock %}
