<!-- home.html -->

{% extends 'base.html' %}

{% set page_title='Home' %}

{% block content %}

    <h1>A PROPOS</h1>
    <p>
	<b>Hackerspace</b> n.m. : tiers-lieu dans lequel des personnes d'intérêts commun se rencontrent et collaborent ensemble pour créer, détourner et partager librement des objets technique ou technologiques.
	<br><br>
	<b>GRENOBLE HACKERSPACE</b> est une association loi 1901, un tier-lieu et une communautée dédiée la promotion des arts, de l'expérimentation, l'informatique et la cybersécurité. L'association offre un espace de rencontre et de travail où des amateurs et des professionnels se réunissent pour apprendre, collaborer, détourner, bref s'amuser.
	<br><br>
	Vous pouvez participer à nos réunions mensuelles, ateliers et événements de manière ponctuelle,
	ou <a href="contact.html">nous rejoindre</a> en devenant membres actif de l'association.
	<br>
    </p>	
    <h1>LATEST NEWS</h1>

	{% for post in list_dir("templates/posts")[:1] %}
		<h2>{{ post }}</h2>
		<pre>{{ read_file("templates/posts/" ~ post) }}</pre>
	{% endfor %}

    
{% endblock %}
