:root
{
    color-scheme: light dark;

    --fg-1: #000;
    --fg-dark-1: #fff;

    --fg-2: #0f0fef;
    --fg-dark-2: #2186d9;
    
    --bg-1: #eee;
    --bg-dark-1: #111;

    --bg-2: #ddd;
    --bg-dark-2: #222;	
}

body
{
	width: 55%;
	margin: 0 auto;
	font-size: 1rem;
	font-family: monospace;
	color: light-dark(var(--fg-1), var(--fg-dark-1));
	background-color: light-dark(var(--bg-1), var(--bg-dark-1));;
}

img
{
  width: 55%;
}

header ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	li { display: inline; }
	a  { text-decoration: none; }
}

a
{ 
	color: light-dark(var(--fg-2), var(--fg-dark-2));
	text-decoration: underline;
}

a:hover 
{ 
	color: light-dark(var(--fg-2), var(--fg-dark-2)); 
	background-color: light-dark(var(--bg-1), var(--bg-dark-1)); 
}


.light { color-scheme: light; }
.dark  { color-scheme: dark; }

.right { float: right; }

.fg-1 { color: light-dark(var(--fg-1), var(--fg-dark-1)); }
.bg-1 { background-color: light-dark(var(--bg-1), var(--bg-dark-1)); }
.bg-2 { background-color: light-dark(var(--bg-2), var(--bg-dark-2)); }


@media only screen and (max-width: 1444px)
{
	body { width: 85%; }
	.columns { display: block; }
}

@media only screen and (max-width: 480px)
{
	* { font-size: 0.9em; }
}
