<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Grenoble Hackerspace{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
	<div class="container">
	<header>
<pre>
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((--------
</pre>
		<h1>GRENOBLE HACKERSPACE</h1>
		<nav class="bg-color-1" style="padding: 15px;">
		<ul>
			{% for item in header %}
				<li><a href="{{ item.page }}">{{ item.name }}</a></li>
			{% endfor %}
		</ul>
		</nav>
	</header>
	
	<div class="row">
		<div class="col-sm-8 bg-color-3">
			{% block content %}{% endblock %}
		</div>
		<div class="col-sm-4 bg-color-2">
			<article>
			<h3>LATEST NEWS</h3>
			<ul>
			{% for item in load_posts(news_dir)[:5] %}
				<li><a href="news.html#{{ item.title }}">{{ item.title }}</a></li>
			{% endfor %}
			</ul>
			</article>
		</div>
	</div>
	<footer class="bg-color-1" style="padding: 3px;">
		Licensed CC BY-SA 4.0 <a href="mailto://{{ contact.email }}">{{ contact.email }}</a> build {{ version }}
	</footer>
	</div>
	</body>
</html>
