<!-- base.html -->
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ style }}" />
	</head>
	<body>
		<header>
		{% block header %}
			<pre>
			
    |\__/ | (`\
  _.|o o  |_ ) )
-(((---(((------
			</pre>
			<h1>GRENOBLE HACKERSPACE</h1>
			<ul>
			    {% for item in menu %}
			        <li>
			            <a href="{{ item.link }}" 
			            	{% if item.class %}class="{{ item.class }}"{% endif %}
			            	{% if item.onclick %}onclick="{{ item.onclick }}"{% endif %}
			            	>{{ item.name }}</a>
			        </li>
			    {% endfor %}
			</ul>
		{% endblock %}
		</header>
		<div id="content">
		{% block content %}		
		<article>
		<h1>A PROPOS</h1>
		<div class="columns">
		  <div class="column flex-75">
		    <p><br>
		    <b>Hackerspace</b> n.m. : tiers-lieu dans lequel des personnes d'intérêts commun se 
		    rencontrent et collaborent ensemble pour créer, détourner et partager librement des objets 
		    technique ou technologiques.
		    <br><br>		
		    <b>GRENOBLE HACKERSPACE</b> est une association loi 1901, un tier-lieu et une communautée dédiée
		    la promotion des arts, de l'expérimentation, l'informatique et la cybersécurité. 
		    L'association offre un espace de rencontre et de travail où des amateurs et des professionnels se 
		    réunissent pour partager librement leurs connaissances et collaborer ensemble.
		    <br><br>
		    Vous pouvez participer à nos réunions mensuelles, ateliers et événements de manière ponctuelle,
		    ou nous rejoindre en devenant membres actif de l'association. <a href="#">Nous rejoindre</a>
		    </p>
		  </div>
		  <div class="column flex-25">
		    <h3>LATEST NEWS</h3>
		    <ul>
		      <li><a href="#">2025-05-03.txt</a></li>
		      <li><a href="#">2025-04-03.txt</a></li>
		      <li><a href="#">2025-03-03.txt</a></li>
		      <li><a href="#">2025-02-03.txt</a></li>
		      <li><a href="#">2025-01-03.txt</a></li>
		      <li><a href="#">2024-12-03.txt</a></li>
		    </ul>
		  </div>
		</div>
		</article><br>
		{% endblock%}
		{% block footer %}
		<h1 id="footer"> Licensed CC BY-SA 4.0 <a href="#">team@ghspace.fr</a> build {{ get_current_date() }} </h1>
		{%endblock%}
		
		</div>
	</body>
	<script></script>
</html>
