<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
<article>
	<h3>CONTACT</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin tortor purus platea sit eu id nisi litora libero. Neque vulputate consequat ac amet augue blandit maximus aliquet congue. Pharetra vestibulum posuere ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus himenaeos fames primis convallis nisi.</p>	
	<ul>
	<li>Email: <a href="mailto://{{ contact.email }}">{{ contact.email }}</a></li>
	{% for link in contact.links %}
		<li>{{ link.name }} : <a href="{{link.url}}">{{ link.url }}</a></li>
	{% endfor %}
	</ul>
</article><br>
{% endblock %}
