<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
<article>
	<h3>A PROPOS</h3>
	<p>
	<b>GRENOBLE HACKERSPACE</b> est une association loi 1901, un tier-lieu et une communautée dédiée à la promotion de la culture underground,
	la bricole et la sécurité informatique. L'association offre un espace de travail où des amateurs et des professionnels se réunissent pour partager librement
	leurs connaissances, collaborer sur des projets, etc...
	<br><br>
	Vous pouvez  participer à nos réunions mensuelles, ateliers et événements de manière ponctuelle, ou nous rejoindre en devenant
	membres actif de l'association. <a href="contact.html">Devenir Membre</a>
	</p>
</article><br>
{% endblock %}
